@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';

/* comment the following line and uncomment the next but one to use fonts with the google api */
@import 'fonts.css';
/* @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900'); */

/*
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: (
			gutters: 2em
		),
		breakpoints: (
			medium: (
				grid: (
					gutters: 1.5em
				)
			),
			small: (
				grid: (
					gutters: 1em
				)
			)
		)
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/icon';
	@import 'components/list';
	@import 'components/form';
	@import 'components/box';
	@import 'components/image';
	@import 'components/table';
	@import 'components/button';
	@import 'components/tiles';

// Layout.

	@import 'layout/header';
	@import 'layout/menu';
	@import 'layout/main';
	@import 'layout/footer';
	@import 'layout/wrapper';
